body {
  background-color: #4c4177;
background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

}
     
.wrapper
  {max-width:700px;
}
.grid {
  grid-gap: 1em;
  margin: 0 0 2em 0;
}

.grid div {
  background-color:#f7aa67(0,0,0,0.1);
}

.nice-image {
  width: 100%;
  height: auto;
}

.book {
  margin-top: 2em;
}

.book h2 {
   margin-left: 1em;
   font-family: 'Oxanium';
   font-weight: 900;
   font-size: 2em;
   color:#f7aa67;
}

.book-nav {
  text-align: center;
  color: white;
}

.book-nav a {
  background-color: transparent;
}

.book-nav img {
  width: 25%;
}

.credits {
  text-align: center;
  color: white;
}

.body {
  background-color:#f0e4d8;
}

.h1 {
  color: white;
  text-shadow: 2px 2px 5px white;
}

#footer {
  background-color: #f2a191;
}

#masthead {
  background-color: #f2a191;
}

#masthead h4 a {
  background-color: #f2a191;
}
