body {background-color: black;}

.wrapper
  {max-width:700px;
}
.grid {
  grid-gap: 1em;
  margin: 0 0 2em 0;
}

.grid div {
  background-color:rgba(0,0,0,0.1);
}

.nice-image {
  width: 100%;
  height: auto;
}

.book {
  margin-top: 2em;
}

.book h2 {
   margin-left: 1em;
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: 900;
   font-size: 2em;
}

.book-nav {
  text-align: center;
  color: white;
}

.book-nav a {
  background-color: transparent;
}

.book-nav img {
  width: 25%;
}

.credits {
  text-align: center;
  color: white;
}

.body {
  background-color: #ffffff;
}

.h1 {
  color: white;
  text-shadow: 2px 2px 5px white;
}